[fig setup]
# spacing between subplots
space = 0.04
# width,height in cm, converted to pixels
figsize=15,15
# margin in pixels, must be integers
top=70
bottom=10
left=90
right=10

# titles
col_title=Ending Base
row_title=Starting Base

# maximum value for all y-axes
# ylim=0.04

# must be integers
row_title_fontsize=24
col_title_fontsize=24
xlabel_fontsize=24
ylabel_fontsize=24
xtick_fontsize=18
ytick_fontsize=18

# must be ints
ylabel_pad=-50
xlabel_pad=10
row_title_pad=-75
col_title_pad=40