[fig setup]
# spacing between subplots
space = 0.04
# grid dimensions
num_rows=1
num_cols=2

# width,height in cm, converted to pixels
figsize=15,10
# margin in pixels, must be integers
top=40
bottom=60
left=90
right=10

# maximum value for all y-axes
# ylim=0.04

# must be integers
row_title_fontsize=24
col_title_fontsize=24
xlabel_fontsize=24
ylabel_fontsize=24
xtick_fontsize=18
ytick_fontsize=18

# can specify text angles, 270 for y-axis rotated text
row_title_textangle=0
col_title_textangle=0
xlabel_textangle=0
ylabel_textangle=0

# must be ints
ylabel_pad=-60
xlabel_pad=-60
row_title_pad=-80
col_title_pad=10

ylabel=RE

# must be comma separated, use html markup for formatting,
# e.g. <b>text</b> for bold, <sub>text</sub> for subscript
# or latex, e.g. $\gamma$
col_titles=<b>Column A</b>,<b>Column B</b>

[1,1]
path=enu-1.json
[2,1]
path=spo-1.json
