[1-way plot]
figsize=8,8
xlabel_fontsize=18
ylabel_fontsize=18
xtick_fontsize=14
ytick_fontsize=14

# margin in pixels, must be integers
top=10
bottom=55
left=60
right=10

# maximum value for all y-axes
# ylim=0.04

# must be ints
ylabel_pad=-50
xlabel_pad=-50

[2-way plot]
# spacing between subplots
space = 0.04

figsize=15,17.5
xlabel_fontsize=18
ylabel_fontsize=18
xtick_fontsize=16
ytick_fontsize=16

# margin in pixels, must be integers
top=10
bottom=55
left=60
right=10

# maximum value for all y-axes
# ylim=0.04

# must be ints
ylabel_pad=-50
xlabel_pad=-50

[3-way plot]
# spacing between subplots
space=0.04
num_rows=2
figsize=12.5,12.5
xlabel_fontsize=18
ylabel_fontsize=18
xtick_fontsize=16
ytick_fontsize=16

# margin in pixels, must be integers
top=10
bottom=55
left=60
right=10

# maximum value for all y-axes
# ylim=0.04

# must be ints
ylabel_pad=-50
xlabel_pad=-50

[4-way plot]
num_rows=1
figsize=12.5,12.5
xlabel_fontsize=18
ylabel_fontsize=18
xtick_fontsize=16
ytick_fontsize=16

# margin in pixels, must be integers
top=10
bottom=55
left=60
right=10

# maximum value for all y-axes
# ylim=0.04

# must be ints
ylabel_pad=-50
xlabel_pad=-50

[summary]
# width,height in cm, converted to pixels
figsize=15,10
# margin in pixels, must be integers
top=10
bottom=70
left=90
right=10

# maximum value for all y-axes
# ylim=0.05

# must be integers
xlabel_fontsize=24
ylabel_fontsize=24
xtick_fontsize=18
ytick_fontsize=18

# must be ints
ylabel_pad=-70
xlabel_pad=-70
